{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.25.0/swagger-ui.css" />
</head>
<body>
<div id="swagger-ui"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/swagger-ui/4.25.0/swagger-ui-bundle.js"></script>
<script>
    const ui = SwaggerUIBundle({
        url: "{% url 'schema' %}",
        dom_id: '#swagger-ui',
        presets: [
            SwaggerUIBundle.presets.apis
        ],
        layout: "BaseLayout"
    })
</script>
</body>
</html>
