# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

cenv/

#nodes
cdas_frontend/nodes_modules/
npm-deug.log*
yarn-error.log*

#environnements
.env

#build
dist/
build/

#medias
media/

# ignore les fichiers compilés python
*.pyc
__pycache__/
